[2019-04-15 03:05] agentofuser opened #1 "(node:20602) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues"
I'm getting this message when using the SDK with node v10.15.3:

[code]

[2019-04-15 17:34] obo20 commented on #1
Could you provide any more debugging information? My guess is that this is coming from a dependency that our library relies on (something like axios for example).

[2019-05-12 19:06] olizilla opened #4 "Is it possible to upload a directory via the pinata http api?"
From the api docs it looks like it's only possible to upload single files via the http api? Is that correct? It'd be rad to be able to upload entire directories to pinata, for static website hosting. https://github.com/agentofuser/ipfs-deploy makes it super easy to deploy to pinata but right now it's not as easy as it could be.

The current code is using the pinHash api, and the user has to forwar

[2019-05-12 19:22] olizilla opened #5 "Provide pinata PeerIDs for folks to connect to"
The `pinHashToPinata` allows the user to provide their multiaddr to connect to to speed up the content discovery. That's a nice touch, but for the use-case where you are on a network where you can't forward a port on the public IP, it might work better to provide the multiaddrs of the pinata nodes, so folks could connect to you directly, rather than ask you to try and connect to them.

It'd also b

[2019-05-13 14:58] obo20 commented on #4
Currently this isn't a feature.

We'd had a few different people request this, and I've actually created a few different prototypes for how this would work, but I have yet to find a fool proof method that "just works" in a way that doesn't expose our API to certain kinds of attack vectors.

While I don't have a timeline on release for something like this, I can tell you that it is constantly being

[2019-06-24 15:11] obo20 commented on #4
This is now available through our file upload endpoint: https://pinata.cloud/documentation#PinFileToIPFS

This is also available for users via our web interface at: https://pinata.cloud/pinataupload

I'm currently exploring how to make this work correctly with the SDK (there's a few tricky edge cases), so I'll keep this issue open, but I wanted users to be aware that the functionality does exist f

[2019-07-21 15:56] obo20 commented on #4
This is now integrated into the SDK as of v1.1.0

[2019-07-21 15:56] #4 closed

[2019-08-09 15:48] Sebastinez opened #6 "Especification for node Readable Stream"
Hi there,

I'm trying to call the pinFileToIPFS method from inside a MockUp node http server as follows, the file gets send as multipart/formdata with Postman:
[code]
I can read the multipart / form data as a Buffer from the request Stream if I push it to an array and use Buffer.concat so there should be no problem there.
What bugs me is that the promise of the pinFileToIPFS method doesn't get res

[2019-08-09 16:07] #6 closed

[2019-08-09 16:08] Sebastinez commented on #6
I'll try to work with the endpoint directly and eventually come back with a pull request for buffer support.

Thank you for the great SDK.

[2019-11-26 14:08] sebastinez opened #9 "Not able to supply buffer of file as Readble Stream to pinFileToIPFS"
Hello folks,

I'm trying to implement the Pinata SDK as part of a dApp I'm developing.

When I use the example code, using `fs.createReadStream` from a local file everything works as it should, but my problem is that I'm working with a File Buffer.
So whenever I push this buffer to a Readable Stream and use the `pinFileToIPFS `method I get the following error:
[code]
I send you as follows my code

[2019-11-26 16:01] obo20 commented on #9
Is there a reason you need to first read the file in as a buffer? From looking at your example code it seems like you could just as easily be using readableStreams as an input in the way that the example code shows.

From initial looks, our API doesn't seem to be the problem here, but rather something in the SDK seems unable to read what you've provided in. Could you try some of the suggestions in

[2019-11-26 17:15] sebastinez commented on #9
Hi Matt,

Thank you for your fast response!
I had some libraries who requested a buffer of the file content to work with, before I gets uploaded to Pinata, that's why the buffer.. Had no luck with the StackOverFlow response.
Now I'm looking into changing the affected libraries and work with streams from the beginning, so it works with Pinata.

Thank you very much!

[2019-11-26 17:15] #9 closed

[2019-11-26 17:23] obo20 commented on #9
No problem! Sorry to hear buffers are still giving some challenges. I'll take a look into the SDK and see if there's anything we can do to make buffers work nicer with it.

[2019-11-26 17:25] obo20 commented on #9
On that note, if you're open to not using the SDK and just using the API directly, the form-data npm library we utilize in our SDK and provide for examples in the docs seems to accept buffers. You may be able to get it to work by checking that out instead.

https://pinata.cloud/documentation#PinFileToIPFS

https://www.npmjs.com/package/form-data

[2019-11-27 18:12] sebastinez commented on #9
Hi Matt,

Just for completion sake, here my solution to the stream problem, I resolved the problem with my file streams and the Pinata API rejecting them by supplying append options to the form-data instance.

I have some Transform Streams who modify the file and also check the length of the stream.

**Transform Stream Example**
[code]

**FormData completion**
[code]

Cheers

[2020-02-03 16:35] ilyaigpetrov opened #11 "pinFromFS: More than one file and/or directory was provided for pinning"
In the README it is said that `pinFromFS` works with directories but applying to `./dist` directory throws this error:
[code]

[code]

[2020-02-04 18:35] obo20 commented on #11
@ilyaigpetrov thanks for the report. Could you try using an absolute path instead of the './dist' you're currently using? I'd like to see if that makes any difference for you

[2020-02-05 12:20] ilyaigpetrov commented on #11
@obo20 full path works without issues.

[2020-02-06 14:37] ilyaigpetrov commented on #11
`dist` also works, but `./dist` doesn't.

[2020-02-27 21:37] obo20 commented on #11
@ilyaigpetrov Apologies for the delay on getting back to you here. We've have a busy month at Pinata. Is there any chance you'd be able to upload a zip of your folder structure? I want to make absolutely sure that I'm testing in the same conditions that you are.

[2020-02-28 22:02] obo20 commented on #11
Hey all / @ilyaigpetrov I've fixed this issue and cut a new release for the sdk. Check out version 1.1.4 for this to be working correctly with `./` paths.

[2020-02-28 22:02] #11 closed

[2020-03-20 09:46] thecodrr opened #19 "Suggestion to use fdir instead of recursive-fs"
Hey, wonderful project here. I recently created **the fastest directory crawler for NodeJS** and wanted to share it with the developer community on GitHub. I couldn't help but notice that you guys are using `recursive-fs` which is much slower than `fdir`.

Would you be interested in migrating to `fdir`?

[Here's my project](/thecodrr/fdir) if you are interested and I'd be happy to help where neede

[2020-03-23 07:29] movefasta opened #20 "IPLD support"
I suggest to support the ability to recursively add IPLD links by hash. Now Pinata API returns an error: invalid object.

[2020-05-21 15:59] tjayrush opened #23 "Missing documentation page for pinFromFS online"
The SDK has a function called `pinFromFS`, but the online documentation (here: https://pinata.cloud/documentation) does not. Not sure if this is purposeful, but I thought I'd share.

[2020-05-21 16:14] tjayrush opened #24 "Incorrect statement on help file page"
On this page:

https://pinata.cloud/documentation#UserPinPolicy

After the Postman example, but before the Javascript example, it says, "We also pass in the hash to change the pin policy for, as well as the new pin policy."  The Javascript function has a parameter called `ipfsPinHash` that is not used in the example code.

Suggestion: remove the above sentence and the parameter. They are confusing

[2020-05-21 17:23] tjayrush opened #25 "Mispelling"
On this page:

https://pinata.cloud/documentation#PinFileToIPFS

it says, "As an example, let's pretend you're building a service for lawyers and want to tag every IPFS upload with the Layer's ID..."

"Layer's ID" should be "Lawyer's ID."

[2020-05-22 14:25] obo20 commented on #23
This is purposeful. There's no pinFromFS on the API, because the API doesn't have access to your local filesystem, while the SDK does.

[2020-05-22 14:25] #23 closed

[2020-05-22 14:33] obo20 commented on #25
Thanks for pointing this out! i've gone ahead and fixed this and the changes are now live.

[2020-05-22 14:33] #25 closed

[2020-05-22 14:33] obo20 commented on #24
Thanks for pointing this out!

It looks like a copy and paste remenant from the hashPinPolicy documentation.

I've gone ahead and changed this up and the changes are now live.

[2020-05-22 14:33] #24 closed

[2020-05-27 14:08] moodysalem opened #26 "Create a markdown badge for whether a hash is pinned by Pinata"
This would be useful for showing the expected availability of GitHub releases

[2020-06-18 18:33] aquiladev opened #28 "Invalid request format"
## Issue
I have an issue with the pinning of file/directory. When I use Postman, everything works fine, but with SDK I always receive an error `Invalid request format`

Code example:
[code]

## Version
@pinata/sdk@1.1.10

[2020-06-18 19:00] obo20 commented on #28
@aquiladev would you be able to upload your data folder that you're working with?

[2020-06-18 20:08] aquiladev commented on #28
no, the code throws the same error
[code]

[2020-06-18 20:10] obo20 commented on #28
@aquiladev This is likely a problem with the data you're attempting to upload. Is 1.dat a folder or a file?

[2020-06-18 20:38] aquiladev commented on #28
it is a file, but I also tried folder. Through Postman I upload the file successfully. the file is simple text file

[2020-06-18 20:40] aquiladev commented on #28
I've changed the extension to TXT, but did not help
[1.txt](https://github.com/PinataCloud/Pinata-SDK/files/4801055/1.txt)

[2020-06-18 20:54] obo20 commented on #28
Can I ask what version of npm / node you're running?
Also what operating system are you running?

I can't seem to reproduce this on my end.

[2020-06-18 20:56] aquiladev commented on #28
OS: Windows 10 1903
node: v10.17.0
npm: 6.14.4

[2020-06-18 20:57] obo20 commented on #28
@aquiladev would you be able to upgrade to node 12.14 by any chance?

[2020-06-18 21:17] aquiladev commented on #28
updated to LTS 12.18.1, but it did not help

[2020-06-18 21:53] obo20 commented on #28
@aquiladev could you copy and paste your entire file you're running? I'm specifically looking at the imports you're using. I'd also recommend deleting your node_modules and re-installing them with `npm install`

Unfortunately I just tried this on a windows machine with the same node / npm version and am not able to reproduce. If you're able to provide a .zip folder of your project that would be su

[2020-06-18 21:54] obo20 commented on #28
You may also want to make sure that any files you're attempting to upload are readable by your project. I've seen people run into issues before because their projects read / write permissions were very strange on windows machines.

[2020-06-19 09:07] aquiladev commented on #28
I've tried to remove `node_modules`, but it did not help. The file/folder is part of the project, I don't think there is a problem with permissions.

I'm going to push the project and will share a link

[2020-06-19 11:33] aquiladev commented on #28
https://github.com/aquiladev/ipfs-action/blob/master/uploader/pinata/index.js

The project is a GitHub Action. When I run the Action on a GitHub runner, everything works fine, but it does not work locally.

[2020-06-19 15:28] obo20 commented on #28
The only thing I can think of is it sounds like there's something strange going on with your local environment on your machine.

I'm really sorry that I can't be of more help right now.

I'm going to keep this ticket alive for awhile in case anybody else is able to reproduce this issue and can hopefully provide extra details of what's happening.

[2020-07-15 05:42] ltfschoen commented on #28
I've encountered the same error when I run `pinata.pinFromFS` in my production environment on Heroku, whereas when I was running it locally on my macOS it didn't produce any error. I'm in the process of trying to resolve it.

[2020-07-15 05:51] ltfschoen commented on #28
@aquiladev have you tried doing this?
[code]

[2020-07-15 08:37] ltfschoen commented on #28
FYI, I resolved my error. It was occurring in my code here https://github.com/ltfschoen/ethquad/blob/master/scripts/pinataUploadIpfs.js#L66, but only when running it on Heroku, and the cause of the error was because I was because I needed to change a line in my package.json to https://github.com/ltfschoen/ethquad/blob/master/package.json#L24 with `SKIP_PREFLIGHT_CHECK=true` before running the `web

[2020-08-06 09:19] ltfschoen opened #31 "Error: Invalid JSON provided, when providing more than one key/value pair to pinList metadata filter"
If I define a metadata filter for `pinList` https://github.com/PinataCloud/Pinata-SDK#pinlist where there is only a single key/value pair, then it the filter works, however, if I add a second key/value pair to the metadata filter as used here https://github.com/ltfschoen/ethquad/commit/a0e3cebe70eb9949a0c74a96ae226ff59a260d86#diff-285c0d8921689baaf0445b8e23d2263eR15, then I get error:
[code]

[2020-08-08 13:24] ltfschoen commented on #31
I get the error even if I use the example values of `metadata` shown here https://github.com/PinataCloud/Pinata-SDK#pinlist

[2020-08-12 15:54] jehunter5811 commented on #31
Hey @ltfschoen we're looking into this now. Thanks for the heads up. If you have an immediate need, you can fall back to direct API queries. But regardless, we'll keep you posted here.

[2020-08-12 19:31] #31 closed

[2020-08-12 19:34] obo20 commented on #31
@ltfschoen This should be fixed now with the newest release of 1.1.11

[2020-09-28 13:42] zoernert opened #34 "[Feature Request] Allow Public Pin List (using Public Key)"
Authentication has  public and a secret key. It would be nice to use the public key for something like getting a pin list or other "public" (read) functions.

Background are some testing scripts that might be deployed to public services for automation and are by definition "insecure".

[2021-03-01 12:43] vortextemporum opened #40 "Increasing maxContentLength and maxBodyLength in Axios"
I had been going through lots of trouble with pinFromFS function. Because any folder above 10mb could not be uploaded.

I found out that the problem is because of a limitation from Axios configs. I had to change the variables from -1 to infinity:

[code]

If you natively support or provide a configuration on function options, it would be much easier for us users.

Thanks

[2021-03-01 18:26] #40 closed

[2021-03-01 18:29] obo20 commented on #40
Fixed in v1.1.13

[2021-03-01 18:29] obo20 commented on #40
@vortextemporum can you verify this now works for you?

[2021-03-11 00:30] scvsh commented on #9
I also had the same problem and found the solution to create SDK-compatible ReadableStream from a buffer like this:

[code]

[2021-04-03 20:04] scottsuhy opened #44 "trying to use pinFileToIPFS and dropzone"
forgive me if this is the wrong place to ask such a question but I don't see a forum for pinata.cloud.  If this is the wrong place to ask please let me know a more proper forum to join.

[Here](https://stackoverflow.com/questions/66925289/is-it-possible-to-use-dropzone-with-pinata-cloud-ipfs-pinning-service) is a pointer to the question on SO

All the examples use axios and node.js.  I'm after a m

[2021-04-04 16:26] scottsuhy commented on #44
For anyone trying to figure this out in the future:

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
  </head>

  <body>
    <form action="" method="POST" enctype="multipart/form-data" class="dropzone " role="form">
        <div class="dropzone" id="dropzone"></div>
        <div class="dropzonePreview dropzone"></div>

[2021-04-04 16:26] #44 closed

[2021-04-05 11:39] isaadabbasi commented on #28
I am running in same issue

System Specs:
MacOS Catalina 10.15.5
Nodejs: 14.4
Npm: 16.14.4

Scenario:
I have a graphQL server which also does the file upload.
When i do `pinFromFS` and pass a filePath to it, it works like a charm.
But when i do `pinFileFromIPFS` and pass a `steram = readableStream()` to it (Which is instanceOf stream.Readable native module) it throws `Invalid Request Format`
Furth

[2021-04-09 05:40] eightyfive commented on #28
I'm facing the same problem.

[code]

No problem when reading a local file (filesystem).

[2021-04-09 05:53] eightyfive commented on #28
Temporary solution (but far from ideal):

[code]

Note: Using [`fs-extra`](https://github.com/jprichardson/node-fs-extra).

[2021-04-09 06:17] eightyfive commented on #28
Found it !

[code]

Basically the Pinata API complains if you don't provide a filename for the file you want to pin. The hint was to look at the "Pin Manager" where file names are displayed for every upload.

@obo20 I believe the documentation / recipe book should point out this edge case or the API should return a better error message.

[2021-04-09 16:41] austinkline commented on #28
Confirming that the `stream.path` workaround works for me as well:

[code]

[2021-04-12 10:57] tomonari-t commented on #28
@austinkline 's post soled my issue.

[2021-04-20 11:18] uncleGena opened #46 "not compatible with nest.js v7"
write
`const pinataSDK = require('@pinata/sdk');`
and it will throw
`TypeError: Map#toJSON isn't generic`

[reproduction](https://github.com/uncleGena/repro_nestjs_pinata)

[2021-04-22 09:50] isaadabbasi commented on #28
@eightyfive Man, I can't thank you enough <3

[2021-04-30 22:54] hallahan opened #47 "Example showing uploading to Pinata from form submission"
I'd like to have the ability to directly pipe files from a form upload to Pinata, avoiding needing a temporary file on the server. This is helpful for Lambda / serverless projects, as we'd like to avoid using the local filesystem.

Is there a straightforward way to do this?

I'm seeing `pinFileToIPFS` and `pinFromFS`, both of which assume there is a file on the local filesystem. Lastly, what is th

[2021-05-07 16:45] FayneAldan opened #48 "pinFromFS doesn't support symbolic links"
pinFromFS doesn't work if any of the files in the directory are a symbolic link, as it's interpreted as a directory which it tries to list files from.

[2021-05-07 20:29] #48 closed

[2021-05-13 03:22] gabigarcez opened #50 "Where can I find support for pinata gateways?"
I have paid for a professional plan just to use the Dedicated Gateway feature, but I cannot get it to work. All the documentation says is:

But it's not simple as that. It doesn't work and there is no other solution and no support for that that I can find whatsoever. I understand this is probably not the right place for it but I don't know where else to find help. Any suggestions?

[2021-05-13 04:01] #50 closed

[2021-05-14 10:51] thesoulkiller opened #51 "Method pinList throws error after multiple sequential calls"
Hello,

I'm using pinata service(professional with 100GB bandwidth) as my database. I am pinning bunch of Json for each of my assets as: assetId: "t-0" , assetId: "t-1" etc. Then I'll get their cid's with
[code]
 as specified in docs. Then I use the retrieved cid to get json content from "js-ipfs" library to avoid making extra requests to pinata gateway. However, after 6-7 consequent successful re

[2021-05-14 13:17] polluterofminds commented on #51
Hi @thesoulkiller, I'm taking a look at this now. Can you provide more info about how you are calling this function in your code? How often are you calling it and under what circumstances?

[2021-05-14 13:45] thesoulkiller commented on #51
Hi @polluterofminds, I'm calling this function inside of koa's router get path. I've simplified my code as :
[code]
The scenario is, whenever user refreshes the page, the frontend sends get request to backend with asset id then gets cid.
Thank you for your response,

[2021-05-14 13:53] polluterofminds commented on #51
@thesoulkiller this seems like a rate-limiting issue. I've replicated the error response you saw (it's actually inconsistent and I'm looking into that response now). But I'm surprised you're hitting rate-limiting with the approach you're taking. Do you have a significant volume of users hitting the page that makes these requests?

[2021-05-14 13:58] thesoulkiller commented on #51
I'm the only user right now. Yeah, I'm surprised too :) Actually, I was a free user just today's morning, maybe the professional account has not been activated yet.

[2021-05-14 14:14] polluterofminds commented on #51
@thesoulkiller That doesn't seem right. Can you check the network requests when you load the page that makes these requests? You'll want to look and see if the page is making requests even when the page is not refreshed. Is that possible to check? I know it's server-side code, but the front-end is triggering these server-side requests somehow.

Also, the professional plan lifts rate limiting on th

[2021-05-14 14:36] thesoulkiller commented on #51
Oh no, I haven't tried gateway yet, but API support would be great :)

I'm using axios to make requests, I've looked network tab I'm doing get request once, moreover I've added console.log over backend side inside "router.get", still once. I don't know if it helps, I'm adding request/response headers below.
[code]
[code]

[2021-05-14 15:08] sparkplug0025 opened #52 "HTTPError: Not Found when using ipfs-http-client"
I believe the API is not respecting the new open api protocol somehow (or it is a bug in `ipfs-http-client`).

When I do a pin ls using the pinata endpoint, it works succesfully:
[code]

When I try to use `ipfs-http-client` lib like this:
[code]

I receive this error:
[code]

I tried with other methods too, like pin.add.

Does anyone know if I'm doing something wrong?

[2021-05-14 15:10] polluterofminds commented on #51
@thesoulkiller would you be able to test out a request to the pinList endpoint without the Pinata SDK. You would do it like this:

[code]

I know there's a little bit of conversion you have to do in order to get the query parameters passed through, so sorry about that! I mostly want you to try this so we can figure out what the actual error is. It might not be the rate-limiting problem.

[2021-05-14 16:14] polluterofminds commented on #52
Hey @sparkplug0025 the API definitely supports the pinning spec. It does look like the `ipfs-http-client` is supposed to support the pinning spec too now, so let me test this as well. If we can confirm it's a bug in that library, we'll point you to that repo to open a bug. But I definitely want to test first.

[2021-05-14 16:18] thesoulkiller commented on #51
Ok now, I'm now seeing error is based on rate-limiting. However with this method I'm getting this error harder than the previous one. What might be the difference ? There is 30 requests limiting in one minute I guess, maybe the other method's limit is lesser.
[code]

[2021-05-14 16:27] polluterofminds commented on #51
Thanks for trying that. I have a fix for the bad error response on the SDK that I'll be sending up soon. In the mean time, we need to figure out why you're getting rate-limited. To help keep the github repo clean, would you be ok if we move this to email or slack?

The bug here, IMO, is the error response on the SDK. So I'll close this issue when that's released. But we do want to help you figure

[2021-05-14 16:31] obo20 commented on #52
@sparkplug0025 the reason things are failing for you is because you're calling the ipfs.pin.ls function instead of the ipfs.pin.remote.ls function.

The IPFS pinning service spec is only the "ipfs.pin.remote" functions, all other functions in the ipfs-http-client require a connection to a full IPFS node.

[2021-05-14 16:35] thesoulkiller commented on #51
Yeah sure let's continue on mail.

[2021-05-16 16:12] sparkplug0025 commented on #52
I was trying to play with the `pin.remote` but it looks like I need to have a full IPFS node and only then use the remote apis. I think I'm missing something or it seems a little bit off, since my whole point is to not spin up a local IPFS and pin the file through a remote pin service.

Does anyone have an example of using `ipfs-http-client` pinning to Pinata API without having a local node? Or it

[2021-05-17 15:29] ochukochris commented on #46
I'm facing the same issue did you find a solution?

[2021-05-23 08:44] 0xisk opened #55 "Help Wanted: Having issue to upload 10,000 file into IPFS directly."
Hi,

I'm trying to upload a lot of JSON files (10,000 JSON file) in IPFS using the following API from [py-ipfs-http-client package][1], and [go-ipfs v0.7][3] and when I try to open the hash with localhost IPFS domain it works `http://localhost:8081/ipfs/<hash>` but not with the main ipfs link `https://ipfs.io/ipfs/<hash>`, just keep loading forever.

I tried again the same process the next day, bu

[2021-05-27 10:38] talentlessguy opened #56 "[Feature request] Deno SDK"
Would be cool to have a Deno version of Pinata SDK. It'll be even easier to implement since `FormData` and `fetch` are already in Deno.

feel free to close the issue in case it's irrelevant / there are no plans for that

[2021-05-31 14:23] toffick commented on #46
Did anyone find a solution?

[2021-05-31 15:29] ochukochris commented on #46
Nope, I had to comment out the part and move on

[2021-06-01 01:20] tverona1 commented on #51
Hi @polluterofminds I'm also hitting this for pinList. Similar symptoms: I'm the only user and am not making frequent requests. I'd be curious if there are any updates on this. Thanks!

[2021-06-01 05:38] malkevych opened #59 "TypeScript"
Pls add support TypeScript.
I can't find any types when I run `npm i --save-dev @types/pinata__sdk`

It is crucial for community

[2021-06-01 13:26] polluterofminds commented on #51
Hi @tverona1, I'll re-open this issue just to be sure that there's not something strange going on in the SDK. Are you running the SDK in NodeJS or in the browser?

[2021-06-01 16:01] hubagaspar91 commented on #59
@malkevych I have submitted a PR #58 which has just been merged that adds TS support to the project out of the box, without the need for an external types package. I reckon the npm package will soon be updated too, so keep an eye for that!

[2021-06-01 16:47] obo20 commented on #59
Added in: https://github.com/PinataCloud/Pinata-SDK/releases/tag/1.1.22

[2021-06-01 16:47] #59 closed

[2021-06-02 03:41] cormacncheese opened #63 "fs.createReadStream() for Firebase remote file in Node"
I am working with the pinFileToIPFS endpiont to upload a file toI PFSP however I can't seem to generate a readableStream of my remote file in firebase storage.

Ideally I would be able to do something like this:

const fs = require('fs');
const readableStreamForFile = fs.createReadStream(FIREBASE_STORAGE_DOWNLOAD_URL_HERE);

However my backend throws an error when I attempt to do so. What's the be

[2021-06-02 11:57] atharvashukla commented on #55
I had the same issue — the files kept loading.

The files, however, loaded after waiting for a few minutes.

Essentially, Pinata needs to traverse IPFS to look for the hash and pin it, which can take time.

To make Pinata pin faster you can refer to the following subheading from the README:

https://github.com/PinataCloud/Pinata-SDK#host-node-multiaddresses

[2021-06-02 14:00] tverona1 commented on #51
Hi, yes this is via the sdk with Node

[2021-06-03 10:19] hubagaspar91 commented on #63
@cormacncheese It seems to me that this thread on StackOverflow pretty much answers your question:

[https://stackoverflow.com/questions/65976322/how-to-create-a-readable-stream-from-a-remote-url-in-nodejs](https://stackoverflow.com/questions/65976322/how-to-create-a-readable-stream-from-a-remote-url-in-nodejs)

[2021-06-05 18:35] AnthonyJamez12 opened #64 "Email Confirmation"
I don't know if this a like a true issue or even if I'm doing this correctly, still learning Github, but there is an issue with the email confirmation on y'alls website for signing up.

[2021-06-11 23:07] cormacncheese commented on #63
Thank you.

I ended up getting it working using the following:

`const admin = require('firebase-admin')
const getRawBody = require('raw-body')
const {Storage} = require('@google-cloud/storage');

async function getStream (path) {
    const bucket = admin.storage().bucket()
    const file = await bucket.file(path)
    const buffer = await getRawBody(file.createReadStream())
}

await getStream()`

[2021-06-11 23:07] #63 closed

[2021-06-13 09:08] hypervillain opened #65 ""More than one file provided for pinning" when using memfs"
Hey Pinata, I'm trying to pin a folder that is stored in an [memfs](https://www.npmjs.com/package/memfs) volume. Because the Pinata SDK requires `fs`, I had to reimplement the `pinFromFs` function. But I get a "More than one file and/or directory was provided for pinning" error when trying to do so.

Here is my code:

[code]

Do you see anything that could cause the error? I guess the only differe

[2021-06-13 09:48] hypervillain commented on #65
Alright, the issue came from me misunderstanding how the volume is mounted on memfs.

this is the correct way to mount it:

[code]

Hope it helps someone in 2-3 years 😅

[2021-06-13 09:48] #65 closed

[2021-06-14 10:07] hypervillain commented on #47
`pinFileToIPFS` also accepts a ReadableStream, that can be created from buffers and strings. So, if you can send your file as one of these, you should be able to create a stream for it and send it using `pinFileToIPFS`.

[2021-06-14 11:11] hypervillain commented on #47
[code]

This is a straight copy paste from my project: `twitterScreenshot` is a regular nodejs buffer. Don't forget to give your stream a `path` property

[2021-06-18 20:55] luckypal commented on #46
Same error.

[2021-06-23 02:11] jsonpoindexter opened #66 "'PinSize' differs from pinned file size"
I am seeing that 'PinSize' returned from `pinList()` ( and `pinFileToIPFS()` results) do not match the actual size of the files that are pinned even though in the docs it defines: `PinSize: This is how large (in bytes) the content you just pinned is`

For example:
File: https://gateway.pinata.cloud/ipfs/QmRgoqLEjPDzsgdY8Mx85KDhjhjr7U4WSdLTXz7res6oub

`pinFileToIPFS()` results:
[code]

`pinList()`

[2021-06-23 17:44] obo20 commented on #64
hey @AnthonyJamez12 could you send a support request to team@pinata.cloud? We'd be happy to take care of this for you!

[2021-06-23 17:44] #64 closed

[2021-06-23 17:45] obo20 commented on #52
@sparkplug0025 unfortunately this isn't possible without running a local node due to the ipfs-http-client nature.

[2021-06-23 17:45] #52 closed

[2021-06-23 17:48] obo20 commented on #66
@jsonpoindexter when IPFS creates objects in the data store, there's a little bit of metadata that's added to each bock of data, which is the reason for the small size discrepancy that you're seeing here. If you re-download the image from IPFS, you should see that the file size is what you're expecting. It's just when the data is inside of IPFS, it takes up a very very small amount of extra space

[2021-06-23 17:48] #66 closed

[2021-06-23 17:49] #1 closed

[2021-06-23 18:19] AnthonyJamez12 commented on #64
@obo20 Hey sorry for not telling y'all I got the email confirmation. Thank you for reaching out and your service, I forgot to let yall know I got this fixed, still trying to get used to Github. Thank you again and you have a good one.

[2021-07-04 15:38] skyrover7 commented on #4
@obo20 can you specify how to use the file upload endpoint to upload a directory? trying to get some basics down in postman but not having any luck with directories (and how to name directories)

[2021-07-10 23:46] Ian-Bright commented on #28
@eightyfive Was your solution reliably pinning images? I am using very similar code but when the images get pinned and I view them in the pin manager I am just seeing a buffer and not the actual image. Thanks

[2021-07-12 20:45] eightyfive commented on #28
Hey @Ian-Bright no problem pinning images in my case

[2021-07-12 20:47] Ian-Bright commented on #28
Hmmm ok interesting. I am trying to do this with a lambda function and for
some reason the buffer is not being decoded correctly. I may switch to a
regular node server

On Mon, Jul 12, 2021, 4:45 PM 85 ***@***.***> wrote:

[2021-07-14 07:53] kaoths opened #68 "Property keyvalues cannot be assigned to PinataMetadata (ts2345)"
### Issue

Property `keyvalues` cannot be assigned to `PinataMetadata`

[code]

Incompatible with usage from document e.g. [here](https://github.com/PinataCloud/Pinata-SDK#hashmetadata)
<hr>

### Example

This following code
[code]

will produce following diagnostic error `ts2345`
[code]
<hr>

### Packages
`typescript` : `4.3.5`
`@pinata/sdk` : `1.1.23`
<hr>

### Runtime
node: `14.17.3`
<hr>

###

[2021-07-19 16:06] Astro-Chimp commented on #47
This wouldn't work in a React app though, would it? Can't use nodejs there (notably, fs).

Looking for a way to convert a file thats input via a <input> html widget, into a readable stream in React....

Tried browserify-fs but it still complains it's not a readable stream when trying the API call to pinFileToIPFS

[2021-07-22 19:12] talentlessguy commented on #28
IMO would be nice if by default it sets a UUID to a file if path is not

`x.path = '...'` hack still works, even though `ReadStream` or `Readable` don't have "path" property

[2021-07-23 20:30] WWWillems commented on #51
Also running into this issue using pinList, unpin and pinFileToIPFS. Trying to bulk add/delete using the NodeJS SDK.

[2021-07-23 20:32] polluterofminds commented on #51
@tverona1 and @WWWillems can you let us know exactly how many requests per minute you are trying to make?

[2021-07-29 16:52] lucashenning commented on #46
same here
[code]

[2021-08-05 23:54] ChrisHelmsC opened #69 "Getting ERR_INVALID_ARG_TYPE when pinning a file using Pinata-SDK"
Getting the above error whether I try and use pinFileToIPFS(...) or pinFromFs(...) when trying to upload an MP4 or very basic file.txt.

[code]

Seeing the following in the log:
TypeError [ERR_INVALID_ARG_TYPE]: The "string" argument must be of type string or an instance of Buffer or ArrayBuffer. Received an instance of FormData

[2021-08-06 04:11] ChrisHelmsC commented on #69
As an additional note, the authentication test runs without issue.

[2021-08-10 06:59] Kampe opened #70 "Typescript completely broken for options block"
Attempting to utilize any example with an options param set will cause type errors.

ie:
[code]

[2021-08-15 09:57] lukaprelic commented on #69
is there a fix for this?

[2021-08-15 16:26] ChrisHelmsC commented on #69
My current fix was writing Axios calls for the endpoints I need using their api as a reference. I believe you can find the endpoints and request examples here:
https://docs.pinata.cloud/api-pinning/pinning-services-api

[2021-08-17 08:40] santicevic commented on #46
Same here

[2021-08-24 12:46] asger60 commented on #4
i'm also interested in learning how to upload directories, or upload into a specific directory

[2021-08-24 12:48] asger60 commented on #4
sorry it was right there in the text.
`wrapWithDirectory - Wrap your content inside of a directory when adding to IPFS. This allows users to retrieve content via a filename instead of just a hash. For a more detailed explanation, see this informative blogpost. Valid options are: true or false`

[2021-08-24 16:07] #70 closed

[2021-08-26 07:13] tino-q opened #73 "Is someone reviewing PRs?"

[2021-08-29 20:27] jackjwilliams commented on #11
Sorry to rehash old issues but, I'm a little confused on the versioning scheme @obo20.

I installed the latest release initially, which is 1.1.23 (release in June of 2021).

Back in Feb 2020 you released this 1.1.4 which fixed this issue (but in a newer version than is currently released?).

Ran into this issue but found I need to change to 1.1.4 maybe (which is a technically older version but hig

[2021-09-02 23:42] skyrover7 commented on #4
@asger60 so are you able to upload into a specific directory using `wrapWithDictionary`?

[2021-09-03 08:05] asger60 commented on #4
I never figured it out. I've reverted to just upload the files through Chrome instead. Would love to know if it's possible through http though.

[2021-09-09 07:57] Velua commented on #46
Also experiencing this issue.

[2021-09-09 11:08] SivaramPg commented on #51
@polluterofminds What is an acceptable number of requests per minute one can using the pinFileToIPFS method where it doesn't trigger the 429 error. I am trying to upload the large number of files of varying sizes. In general was hitting 100 rpm but in bursts of smaller files, was reaching 300 rpm which was triggerring the 429 errors.

[2021-09-09 11:24] polluterofminds commented on #51
Hey @SivaramPg we actually just got this added to the documentation to help people out. Sorry it’s taken us so long to document the rate limiting: https://docs.pinata.cloud/rate-limits

[2021-09-09 11:28] SivaramPg commented on #51
Thanks for the getting back so quickly @polluterofminds . Appreciate the updated docs.

[2021-09-10 07:09] nickjuntilla commented on #4
I don't know why this is closed. The documentation only refers to wrapping 1 file at a time, which is not very useful. How can we wrap multiple files or a whole directory? Can we add multiple files as form data? Could we have some documentation around this?

[2021-09-14 09:15] skyrover7 commented on #4
@nickjuntilla yea i was confused as to why it was closed as well. ended up not needing the directory functionality right now, but eventually will! seems like @asger60 also found a workaround.

@obo20 are we missing something?

[2021-09-14 13:58] asger60 commented on #4
The workaround I found was not really perfect, and i keep coming back to this problem. The ideal solution would be to be able to upload into a specific directory - but i can't figure out if that is possible with pinata

[2021-09-14 20:02] nickjuntilla commented on #4
I finally found the JavaScript SDK. I can't believe it's existed for 2 years and wasn't in the main docs. That will probably solve my problems. I'm over here using the web form submit on the backend. Pinata docs could really use some help. They need to have the JavaScript SDK front and center. Also the ability to upload multiple files and wrap them in a directory is still not solved via the form u

[2021-09-19 16:58] rusticphilosopher commented on #28
.path hack worked for me also - examples and documentation needs to be updated to represent this.

[2021-09-27 00:10] rusticphilosopher commented on #11
FYI, a related bug is still present in 1.1.23.  Running on windows 10, giving a path of "../mydir" results in a "invalid file path" error.  Passing the full path (example: "\Users\dir1\dir2\dir3\" works.

[2021-09-27 04:54] ilyaigpetrov commented on #11
@rusticphilosopher
1) `../mydir` (forward slash) fails.
2) `\Users\dir1\dir2\dir3` (backslash) works.

Guess: maybe you just need to use a backslash, not forward.

[2021-09-27 13:23] shig2k1 commented on #11
@rusticphilosopher Same for me. Which is super odd because a few hours ago it was working fine :-/

[2021-10-06 14:15] ahujasid commented on #28
ReadStream throws the error for me "Readable.from is not available in the browser". Is this common for everyone??

[2021-10-08 23:54] d3r3nic opened #75 "Error: only one instance of babel-polyfill is allowed at"
I used Pinata with Serverless.com and there's no way I can troubleshoot this.

`Error: only one instance of babel-polyfill is allowed at Object../node_modules/babel-polyfill/lib/index.js (/Users/my/Development/Projects/blockchain-api-nft/node_modules/@pinata/sdk/lib/pinata-sdk.js:2782:9) at __webpack_require__ (/Users/my/Development/Projects/blockchain-api-nft/node_modules/@pinata/sdk/lib/pinata-s

[2021-10-09 06:40] Tsunfire commented on #4
There is a v2 API, but it still only specifies uploading a single file.

[2021-10-12 05:55] SuPuL opened #76 "Types:"
Hi,
quick question to your TS types:

[code]

seems to be wrong as `pinataMetadata`  is validated by `validateMetadata` which expects an `name?: string` and `keyvalues: Object`. So you cannot pass typesafe the `keyvalues` as `pinataMetadata` do not accept `objects` as values.

 Would you please correct me if I'm missing some type?

 Thank you all for your work! 👋

[2021-10-12 18:46] zababurinsv opened #77 "Broken build with parcel"
When i try  build project of parcel with pinata sdk i geting error

[code]

This is answer what is this
[@pinata/sdk contains the following function:](https://github.com/parcel-bundler/parcel/issues/7054#issuecomment-940574207)

Can you fix this?

[2021-10-13 23:57] giovannivignone commented on #46
Same here. Does not seem like pinata is compatible with nestJS

[2021-10-29 13:16] bsonmez opened #78 "Error creating new replication records"
I receive an error that says  Error creating new replication records. Couldn't find any related article. What does it mean?

[code]

[2021-10-29 18:23] kingjerod commented on #28
The SDK should really add a function for uploading Buffers. Ran into this same problem.

[2021-11-02 22:10] Coderrob opened #79 "Include rate-limiting mechanism in the SDK"
Using examples from `docs.pinata.cloud` you'll quickly find the [Axios examples](https://docs.pinata.cloud/api-pinning/pin-file#javascript-example-with-axios). What doesn't become apparent is the [rate limiting](https://docs.pinata.cloud/rate-limits) that Pinata imposes.

It would help significantly if these limits would be enforced within the SDK itself. This becomes an issue when trying to do in

[2021-11-04 02:08] jgrean81 commented on #11
Agree, doesn't work as documentation suggests for this function. The entire documentation could use work to be blunt.
It reports "More than one file and/or directory was provided for pinning.". Yeah, no sh*t. The function is supposed to upload the contents of a dir. Wrapped, I assume though it still seems you need to actually specify that? When wrapped for such a function should be default. In any

[2021-11-04 02:09] jgrean81 opened #80 "pinFromFS: More than one file and/or directory was provided for pinning"
You closed this as a previously raised issue but the problem persists.
Calling this function results in the report: "pinFromFS: More than one file and/or directory was provided for pinning."
Yes, it's a dir. Of course there is more than 1 file.
So what now?

[2021-11-04 02:14] jgrean81 commented on #4
+1, this is basic functionality needed please

[2021-11-04 15:04] Coderrob commented on #79
Had the needs so I added to my own scripts. Uses the Pinata-SDK and Bottleneck. Would be nice to have something internal to the SDK here. Providing as reference:

https://github.com/Coderrob/nft-pinata-bulk-upload/blob/master/src/upload-files.js

[2021-11-04 22:04] bennyvenassi opened #81 "PinataSDK pinnig a thumbnail Invalid request format"
Hi,
i got a pretty similar problem to this issue: https://github.com/PinataCloud/Pinata-SDK/issues/9

The solution provided doesnt work for me. I try to create a thumbnail from a given URI and then save the resized image to pinata via the SDK.

Saving the thumbnail to my local fs works fine. While trying to pin it to pinata i got the an _Invalid request format_ Error.

My code so far:

[code]

Tha

[2021-11-08 07:19] MonarthS commented on #4
SDK:
- single file: [pinFileToIPFS](https://github.com/PinataCloud/Pinata-SDK#pinfiletoipfs)
- directory: [pinFromFS](https://github.com/PinataCloud/Pinata-SDK#pinfromfs)

API:

for single file & directory, API is same for both: `https://api.pinata.cloud/pinning/pinFileToIPFS`. you just need to append multiple files:

- single file: [pinFileToIPFS](https://docs.pinata.cloud/api-pinning/pin-file#ja

[2021-11-08 15:43] Oleh-Pashchenko commented on #81
The same thing

[2021-11-09 10:12] bennyvenassi commented on #81
uploading the readable stream to a s3 bucket also works fine. :/

[code]

[2021-11-09 16:29] polluterofminds commented on #81
@bennyvenassi I know that most people don't want to do this, but while our engineering team looks into this, a quick way to unblock yourself is to write the thumbnail to disk and then upload as normal using the pinFromFS method in the SDK.

[2021-11-09 21:24] polluterofminds commented on #81
We have been unable to test this exact code because of an error with the image-thumbnail module. We get a module cannot be found error tied to it for the `sharp` module. We've been unable to find any resolution to that, but if you came across that error in your code and were able to solve it, please let us know!

[2021-11-09 21:41] bennyvenassi commented on #81
Hi Justin,
thank you for your respond. I didnt face the sharp module error. Which version of image-thumbnail do you use? I'm using 1.0.14 in node.js with express. Regarding the package-lock image-thumbnail needs the following depencies:
[code]

I managed to get it work like you mentioned with a temp file to disk and then pinFromFS.

Here is my testcode:

[code]

[2021-11-15 08:19] victaphu commented on #75
Hi,

Not sure if you still have this problem, but I found that this error is caused by both serverless and Pinata SDK using a babel-polyfill. Once deployed this issue doesn't exist because of the way that lambda works.

For me, the call works the first time testing locally in serverless-offline, but once deployed it was fine.

[2021-11-15 20:33] silasdavis commented on #5
This feels like a major omission. I was surprised to not be able to find your actual peer addresses and IDs on your own website.

Some purported nodes are listed here: https://docs.ipfs.io/how-to/peering-with-content-providers/#content-provider-list but it seems there are no A records on those subdomains anyway.

I've found that trying to pull content pinned on pinata through a local node typicall

[2021-11-15 22:58] shaderbytes opened #82 "Invalid request format for both SDK function or direct URL (SOLVED)"
I have tried both pinFromFS using the SDK and https://api.pinata.cloud/pinning/pinFileToIPFS

(looking at dev tools , pinFromFS is using "pinFileToIPFS" anyway)

both just result in a Invalid request format. I used the sample code , googled all over. I cant find a solution here. I tried different files to no avail. Please return focused info on the error so I know what to do here...?

thanks

[2021-11-17 22:40] silasdavis commented on #28
Yeah this is a really obvious thing to want to do

[2021-11-18 08:04] deepso7 commented on #68
Any updates on this ?

[2021-11-22 16:04] fsobh opened #83 "Cant set JWT when using SDK"

[2021-11-23 09:02] xtrinch commented on #81
I've been unable to pipe a stream of an image file gotten from S3 with `aws-sdk` to pinata because it returns `Invalid request format`.

[2021-11-24 22:00] lasanja1 opened #84 "pinFileToIPFS Unhandled Rejection and 400 bad request"
Due to the nature of my project I have a _img data url_ converted into a _buffer_ that I am trying to upload to IPFS.
I tried 2 different methods but none of them works. Here is my code:

_**SAMPLE 1**_
var myBlob = new Blob([new Uint8Array(myBuffer)]);
var myReadableStream = blob.stream()
pinata.pinFileToIPFS(myReadableStream)

**ERROR: Unhandled Rejection (TypeError): source.on is not a function

[2021-11-26 13:18] antokhio opened #85 "pinFromFS in node script result an absolute path pinned"
Hi, i have next js typescript project, from witch i would like to pin bunch of files so i can access them from https://gateway.pinata.cloud/ipfs/:cid/:id uri after...

currently i do:
[code]
witch is working fine, however i get pined C:\Users\User\source\repos\....\folderToPin\

did some tests with path.relative() without success...

[2021-11-30 04:24] miguelmota commented on #84
Anyone found a solution for this yet? Thanks in advance

[2021-11-30 07:41] lasanja1 commented on #84
Just for record keeping and in case anyone runs into this problem, this thread is being discussed on stack overflow:

https://stackoverflow.com/questions/70107658/cant-send-readable-stream-with-pinata-sdk-to-ipfs-400-bad-request-and-unhandl

[2021-11-30 20:20] shaderbytes commented on #82
GOT THIS WORKING! - to anyone else suffering the same issue , i looked all over the web and I tried all sorts of things and eventually found what works after much trial and error.

two things you have to change :

in the axios post function you dont just pass in the FormData object , you have to call "getBuffer()" on it ,

`myFormData.getBuffer() `

but for that to work , you CANT append your file

[2021-12-02 01:46] dohomi opened #86 "error EPROTO results when pin folder with 10K items"
Hi Guys,

I try to pin a folder with 10K NFT files. The SDK seems not to be able to handle the request:
[code]
If I try the same script with a different folder and smaller amount of files it works.

[2021-12-06 13:33] JulienPlanchetCoineo commented on #11
Did you solve your issue ?
I have the same result.

[2021-12-09 15:58] santiq opened #87 "API psa/add Not Found when using ipfs-http-client"
When trying to use the psa/add endpoint
[code]

My code:

[code]

maybe related to #52

[2021-12-14 04:02] jualy007 opened #88 "Unpin API functionality"
After called the Unpin API, the file upload by pinFileToIPFS API could access as well all the time? Can you introduce the unpin functionality？

[2021-12-20 09:36] hiddentao opened #89 "Question: Can I pre-calculate the the CID returned by pinFileToIPFS?"
I need to be able to pre-calculate the CID returned by `pinFileToIPFS` - is this possible?

[2021-12-22 02:19] pyaming opened #90 "How to use http api to upload files to the specified directory?"
How can I upload files to the specified directory? Does it have this function?

[2021-12-23 09:18] witwit commented on #11
This is really a shame. Paying for premium account, hoping for the API to work. But it does not. You cannot pin directories. Please let us know how to handle it correctly (on different OS). Using an absolute path also put the absolute path into the URL. For example, if I pin: "C:\Users\user\myDir\dist" then the URL also includes the whole path "https://.../Qm.../Users/user/myDir/dist/"

That's bad

[2021-12-23 09:27] witwit commented on #85
`wrapWithDirectory: true` nor `wrapWithDirectory: false` work. The pinned dir always receives a full path. Horrible :-(

[2021-12-23 09:29] witwit commented on #80
No fix for this yet?
Absolute paths wor, but wrap the resulting URL in the same path.
`wrapWithDirectory: true` nor `wrapWithDirectory: false` work. The pinned dir always receives a full path. Horrible :-(

[2021-12-27 09:10] liron-navon opened #91 "Typescript not matching api documentation"
The types in the code don't match the api.

The documentation on the README says this is the way to call pinata to pin a file, the typescript code says the interface of the options is "PinataPinOptions".

![Screenshot 2021-12-27 at 10 03 12](https://user-images.githubusercontent.com/18119833/147455138-1f1b4f2b-2797-4e90-b101-6ede72e5cf6d.png)

<img width="1114" alt="Screenshot 2021-12-27 at 10 11

[2021-12-27 10:58] liron-navon commented on #91
Made a PR with updated types based on:

https://github.com/PinataCloud/Pinata-SDK/pull/92

![Screenshot 2021-12-27 at 11 57 48](https://user-images.githubusercontent.com/18119833/147465287-1881d1ec-2fb2-4ba9-ab0c-700f44a19b79.png)

[2022-01-04 20:58] bartduisters commented on #78
We have the same error. It only occurs on one persons's device, it works for all others that tried.

Any details about this specific error available?

[2022-01-12 08:57] mongodillo commented on #80
Did anyone manage to get this working?

I keep getting the same error message about More than one file and/or directory etc... it is annoying given PinfromFS is meant to handle a directory!

[2022-01-12 09:09] witwit commented on #80
Sort of...

First I do something like:
`process.chdir(path.resolve('YOUR PARENT/PROJECT DIR HERE'));`

and only then

`await pinata.pinFromFS("dist", {`

to pin everything from the "dist" directory. Hope that helps!

[2022-01-12 14:14] stefanodecillis opened #93 "Update or add file in a folder"
Hi,

I chose Pinata to host multiple files for several users and I'm trying to collect them in folders. As per the title of this issue, I am trying to upload files into folders already pinned to IPFS.
Digging into the SDK (I'm using nodejs) and rest API, I could not find a solution since I cannot pin files with an IPFS path ('CID/path/to/file').

I didn't try but I guess I would like to replicate

[2022-01-14 13:54] ErlanBazarov commented on #75
Having the same issue, I don't even understand what does babel-polyfill mean

[2022-01-14 13:57] ErlanBazarov commented on #75
As a workaround, I am doing require inside of function instead of at the top of the file

[2022-01-16 04:47] partyka1 commented on #11
In my case this error was caused by having double slash in the path, ie `pinata.pinFromFS('/Users/partyka1/pinata//important/files')`, changing to `pinata.pinFromFS('/Users/partyka1/pinata/important/files')` helped. I'm using pinata js sdk on macos

[2022-01-16 14:06] ti0 commented on #46
Does anyone from the team have an update if this will be fixed? I was considering to pay for the pro plan and testing out API access, but if the SDK doesn't work then it doesn't seem like it is a reliable service.

[2022-01-16 15:07] obo20 commented on #46
Right now we cannot promise any timelines on when nest.js will be supported by our JS SDK.

It’s on our roadmap, but is constantly being prioritized against our other platform needs.

For those of you looking to use next.js I would strongly recommend using our api directly instead of our SDK. We have extensive JS based examples in our official docs that show how to call our endpoints without needi

[2022-01-16 15:23] bigchiano commented on #46
Do I have permission to create a pull request for this?

[2022-01-16 17:07] obo20 commented on #46
@bigchiano Absolutely. I can't guarantee a timeline on merging it in (we'll have to evaluate it for safety first), but I can definitely say a working PR would expedite getting this working.

[2022-01-31 02:49] noahliechti opened #95 "Add functionality to nest json files with pinJSONToIPFS endpoint"
Nesting files in folders is possible with the `pinFilesToIPFS` endpoint but not with `pinJSONToIPFS`.

This would be a helpful feature in my opinion.

[2022-01-31 02:55] noahliechti commented on #90
Yes it is documented here: [Pinata Documentation](https://docs.pinata.cloud/api-pinning/pin-file#pinning-a-directory-example)

If you use FormData you can use it like this:
[code]

[2022-02-04 15:53] Willyham commented on #28
Has the same issue. We're generating image data from an API not from files. Buffer upload or at least a mention in the docs would be nice.

[2022-02-04 18:39] cbrpnk commented on #28
That hack solved the issue for me, thanks!

[2022-02-09 09:27] cs-balazs commented on #95
I don't know if you are aware, but it can be done with the `pinFilesToIPFS` endpoint.
[code]
The `BASE_DIR` will not be created, the json files will be in the root of where the returned CID points to.

[2022-02-11 17:19] GonzaloHirschToptal commented on #75
I'm running into this now, and it's making our local development very hard, is there any workaround for this? One that preferable doesn't involve changing into requires.

[2022-02-11 18:01] GonzaloHirschToptal opened #97 "Error: only one instance of `babel-polyfill` is allowed"
I'm currently implementing the Pinata SDK in a Serverless environment (using the Serverless Framework), and I'm encountering the following error

<details>
<summary>See full stacktrace</summary>
<pre><code>
Error: only one instance of babel-polyfill is allowed
    at Object../node_modules/babel-polyfill/lib/index.js (/REDACTED_PROJECT_DIR/node_modules/@pinata/sdk/lib/pinata-sdk.js:2782:9)
    at _

[2022-02-15 23:32] noahliechti commented on #95
Yes, I managed to solve it using `pinFilesToIPFS`. But thanks for your response.

[2022-02-24 10:59] trivonhan commented on #68
@kaoths  Did you solve this? Can you give me a solution?

[2022-02-26 19:56] niklabh commented on #78
Any updates on this?

[2022-03-08 11:17] milkcoke opened #100 "[Error] pinFileToIPFS duplicate error"
If already same file exists in IPFS, then have to occur 'CONFLICT', but I got the `200 OK` response even though `isDuplicate` was true \
when I pin same file to pinata [Pin file API](https://docs.pinata.cloud/api-pinning/pin-file)

## My Scenario
1. I pinned file github-video.mp4 on Pinata
2. Next, I retry the [pin File API](https://docs.pinata.cloud/api-pinning/pin-file) **with the same file** `g

[2022-03-12 16:15] i-rebel-aj commented on #28
.path seems to throw an error saying that `Property 'path' does not exist on type 'Readable'.ts(2339)`

[2022-03-16 16:43] TrejGun commented on #76
same problem

[2022-04-05 20:51] #95 closed

[2022-04-05 20:53] #90 closed

[2022-04-05 20:56] #82 closed

[2022-04-05 20:56] starryeyez024 commented on #83
@fsobh  Can you please add more information to this ticket about what you are trying to accomplish? Otherwise please close it out if you solved this issue. Thank you.

[2022-04-05 20:58] starryeyez024 commented on #84
@lasanja1 Is this still an outstanding issue or can this be closed?

[2022-04-05 20:59] starryeyez024 commented on #80
@jgrean81 did the suggested solution work for you? If so, please close out this ticket. Thanks!

[2022-04-05 21:01] starryeyez024 commented on #69
@lukaprelic @ChrisHelmsC are you unblocked and can this issue be closed?

[2022-04-05 21:03] #51 closed

[2022-04-08 01:09] cre-mer commented on #75
Having the same error. It's working in my nodejs (hardhat) project, but I use it in my craco project I get the same error.

[2022-04-10 06:11] lasanja1 commented on #84
Hi @starryeyez024 , it is still an outstanding issue. I cannot send a readable stream via the pinata function. I tried with in browser fs dependency suggested on github from my link above, but i did not work.

[2022-04-10 16:02] mihaidicianu commented on #11
I managed to find a **workaround** (although experiencing all the problems described here beforehand): the only way I could pin only a folder with multiple files in it is by providing a path that only contains the folder, i.e. `pinata.pinFromFS('./images')`, implicitly running the program from the same folder as the target one.

[2022-04-13 16:02] dweisiger opened #105 "latest package broken"
i recently merged a PR into the pinata-sdk, and it published a new version 1.1.24 for npm. however the generated lib files https://github.com/PinataCloud/Pinata-SDK/tree/master/lib were not updated with the changes in the source code. i am not familiar with the build/release process for the sdk, so could someone please take a look at updating these lib files? i also noticed that there is not a new

[2022-04-19 09:30] HappySean2845 commented on #28
Nice Hack, It did helped me from the `Invalid request`!

[2022-04-21 03:35] brucexu-eth commented on #28
dude, you just saved my day, appreciate!! @eightyfive

[2022-04-24 00:33] kenshiru commented on #68
[code]
Type for `keyvalues` type is not provided in typings here https://github.com/PinataCloud/Pinata-SDK/blob/master/types/index.d.ts#L225.

[2022-04-26 13:19] obo20 commented on #105
This should be fixed with 1.1.25

[2022-04-26 13:19] #105 closed

[2022-05-04 12:09] hillmark commented on #28
Hack worked perfectly, thanks!

[2022-05-10 18:52] ohager commented on #83
It's possible to use the HTTP API with an Auth Token (JWT) (once authenticated), which is provided on Pinata Web. But this SDK does not seem to support it; only the way with API Key an API Secret.

https://docs.pinata.cloud/api-pinning/pinning-services-api#authentication

[2022-06-10 18:26] niraj-khatiwada commented on #28
@eightyfive hack worked for me as well. But I would really really prefer uploading Buffer directly.

[2022-06-14 19:32] SamM commented on #11
A possible work-around that solves the issue for me is to convert the relative path into an absolute path using node's path module:
`const sourcePath = require('path').resolve('./dist');`

[2022-06-14 21:15] SamM commented on #11
Found a clue to why this might be happening in this answer to a question on stackoverflow (though it relates to uploading using python): https://stackoverflow.com/a/72077543/1309840 .
Apparently if the `name` specified in the pinataMetadata is the same as the name of the base folder in the path you are uploading it will not return the same `More than one file and/or directory was provided for pinn

[2022-06-14 21:15] SamM commented on #11
Seems to be an issue with the API endpoint as much as the SDK implementation

[2022-06-16 00:54] tinmarr commented on #86
Any update on this? I'm having the same issue.

[2022-06-30 10:02] Theo-Farnole commented on #93
I'd also love to see this feature in the pinata API!

[2022-06-30 10:03] Theo-Farnole commented on #89
You can calculate the CID using the `ipfs-only-hash` package: https://www.npmjs.com/package/ipfs-only-hash.

Here's an example from the documentation of the package:
[code]

[2022-06-30 10:04] albertoramires commented on #93
Would also appreciate this feature. 🙏

[2022-07-13 18:56] xpluscal commented on #28
@eightyfive any idea how your hack would apply for uploading a folder as outlined here:
https://docs.pinata.cloud/pinata-api/pinning/pin-file-or-directory#uploading-and-pinning-a-directory

[2022-07-14 12:21] eightyfive commented on #28
Hey unfortunately I don't know.

I use NFT Storage now.

[2022-08-02 14:54] damianlluch opened #111 "Upload Array of Readable"
Hi, I'm trying to read some files from an s3 and upload them to Pinata, but the documentation doesn't make it clear how to do it.
I'm trying to make an array of the files I'm reading, and send via SDK to the pinFileToIPFS(..) function an array of Readable objects that would be the images.
Is this approach ok?

Thanks!

[2022-08-02 15:28] damianlluch commented on #111
I haven't tried it yet, but this is my solution.

[code]

[2022-08-03 11:36] damianlluch commented on #11
Hi, I'm having the same problem. Trying to upload more than one file from S3.

This is my code:

[code]

any suggestions?

[2022-08-03 11:37] #111 closed

[2022-08-03 11:40] damianlluch opened #112 "Upload files to Piñata from S3"
Hi, I'm trying to upload files from S3 to IPFS via Piñata. Through the SDK it has been impossible, so I am trying via AXIOS.
I manage to upload one file, but if I want to upload more than one I get this error:

`More than one file and/or directory was provided for pinning.`

I've seen people with the same problem and I've also seen a solution in Python.

Any suggestions on how to fix this in Node?

[2022-08-04 03:07] SamM commented on #11
You could try adding something like this, and change the someFolderNameGoesHere to whatever you want the directory to be called:
[code]

[2022-08-04 09:23] damianlluch commented on #11
Interesting approach, but I am not quite clear on what you are saying.
pinataMetadata as a key? why would I add that? you say to add that after adding the files?

[2022-08-07 14:27] alexbakers opened #114 "Cannot read properties of undefined (reading 'isFile')"
Hello, I have created a package for quickly deploying applications in ipfs.
https://github.com/alexbakers/create-ipfs-app

However, when deploying to pinata, I get an error.

[code]

[code]

[2022-08-07 14:28] #114 closed

[2022-08-28 16:00] ferdiunal opened #115 "More than one file and/or directory was provided for pinning."
Hello, when I want to send more than one file with [Http Client](https://laravel.com/docs/9.x/http-client#main-content) or [Guzzle](https://docs.guzzlephp.org/en/stable/) in Laravel, "More than one file and/or directory was provided for pinning." I am getting this response. What would you suggest I do?

[code]

[2022-09-01 16:26] ferdiunal commented on #115
This is how I use it.

[code]

[2022-09-02 10:14] gfaraj commented on #84
@lasanja1 I was able to get this to work with a slight modification to your "sample 2" code above, namely to use "file" instead of "test" for the name of the input.

`var headers = new Headers();
    headers.append("pinata_api_key", process.env.REACT_APP_PINATA_API_KEY ?? '');
    headers.append("pinata_secret_api_key", process.env.REACT_APP_PINATA_API_SECRET ?? '');

    var formData = new FormDa

[2022-09-03 15:50] bsormagec commented on #115
any update @obo20 ?

[2022-09-06 19:28] ateeqrehmani opened #117 "Update metadata pinata.hashMetadata not working"
unable to update metadata using Pinata SDK version 1.1.26

const options = {
          pinataMetadata: {
            keyvalues: {
              image: 'new url',
            }
          },
          pinataOptions: {
            cidVersion: 0
          }
        }

await pinata.hashMetadata('Qmdbm7r9VAcy2jmntA8MTdta6GZb3jKB59vrkdwkzz7Bv7', options)

![image (1)](https://user-images.githubuserconten

[2022-09-09 16:20] njculpin commented on #112
hey this worked for me...

`import type { ValidatedEventAPIGatewayProxyEvent } from "@libs/api-gateway";
import { formatJSONResponse } from "@libs/api-gateway";
import { middyfy } from "@libs/lambda";
import schema from "./schema";
const AWS = require("aws-sdk");
const s3 = new AWS.S3();
const { Readable } = require("stream");
const pinataSDK = require("@pinata/sdk");
const pinata = pinataSDK(proc

[2022-09-10 19:03] njculpin commented on #112
try this...

[code]

[2022-09-23 13:47] molejnik-mergebit commented on #28
Same issue and same solution here, thank you a million! It's a shame it's nowhere documented...

[2022-09-27 12:50] polluterofminds commented on #117
@ateeqrehmani sorry for the delay here. We are spinning up a new team dedicated to our open source tools. These issues are being tackled by that new team, so stay tuned.

[2022-10-01 12:09] damianlluch commented on #112
Hi, with this code you can upload more than one file to Pinata?

thanks!

[2022-10-06 14:57] ateeqrehmani commented on #117
@rommel-pinata thanks for the reply
actually I used the same structure, have a look at attached screenshot. i have already saved my metadata, in metadata, there is a field called "image" with an empty value. now I wanted to update so I provided only key/value pair which needs to be updated
const options = {
     pinataMetadata: {
       keyvalues: {
         image: 'new url',
      }
},

what is y

[2022-10-06 15:10] rommel-pinata commented on #117
@ateeqrehmani Take a closer look i don't use pinataMetadata Key

[2022-10-06 15:57] rommel-pinata commented on #117
Feel free to re-open if you have any further problems

[2022-10-06 15:57] #117 closed

[2022-10-10 16:09] rommel-pinata commented on #115
Hey, @bsormagec I checked API and for now, this is not supported. However, this functionality is currently being developed and should be available in the next sprint. Once released I will work in the integration if needed.

Duplicated #112 and #115

[2022-10-10 16:09] rommel-pinata commented on #112
Hey, @damianlluch  checked API and for now, this is not supported. However, this functionality is currently being developed and should be available in the next sprint. Once released I will work in the integration if needed.

Duplicated #112 and #115

[2022-10-10 16:12] bsormagec commented on #115
How many week your sprint length 😄

[2022-10-10 22:50] rommel-pinata commented on #115
@bsormagec Usually takes 2 weeks. As soon as is approved and deployed in production, I'll let you know!

[2022-10-10 22:58] rommel-pinata commented on #100
Hello @milkcoke, I agreed there should be a different http code for this issue. However I'm not sure if other systems may be checking for a 200, and it could break their integration. But I'll definitely accept the change in the docs.

[2022-10-11 16:25] rommel-pinata commented on #93
Hello @stefanodecillis,

There's a few issues with it. every folder of files generates a cid for the folder, every subfolder, and every file.  The cid is immutable. if you add a file to an existing folder and upload it again, the cid will change. This is core to the concept of IPFS, immutable data, and CIDs

[2022-10-11 16:25] #93 closed

[2022-10-12 19:08] polluterofminds opened #119 "Pinata-SDK: Add auto-pagination to pinList query"
Inspiration: https://stripe.com/docs/api/pagination/auto?lang=node

[2022-10-15 02:40] luozygithub opened #120 "Can't resolve 'fs'"
ERROR in ./node_modules/@pinata/sdk/lib/pinata-sdk.js 3693:102-115
Module not found: Error: Can't resolve 'fs' in '\mangobox\node_modules\@pinata\sdk\lib'
@pinata/sdk only can use in node development?

[2022-10-15 02:47] luozygithub commented on #120
@pinata\sdk only user in node ?

[2022-10-15 03:37] #120 closed

[2022-10-17 18:17] #119 closed

[2022-10-18 22:30] rommel-pinata commented on #83
I created a PR that addressed this issue. Should be merged shortly!

[2022-10-18 22:54] rommel-pinata commented on #76
Hello @SuPuL @TrejGun I found this PR that also address this issue. #116

[2022-10-19 12:23] #83 closed

[2022-10-19 22:42] rommel-pinata commented on #73
we do know @tino-q, you can create a PR and I'll take a look at it :)

[2022-10-19 22:42] #73 closed

[2022-10-19 23:06] rommel-pinata commented on #89
Hello @hiddentao and @Theo-Farnole, I don't think ipfs-only-hash would work since we use cid version 1. There's a simple way to accomplish you can see an example here https://www.npmjs.com/package/ipfs-core/v/0.10.6#getting-started. it has more options like cid version

[2022-10-19 23:06] #89 closed

[2022-10-20 14:40] alexbakers opened #128 "How to upload Buffer data?"
Hello, friends.

I have Buffer data `file.buffer` and convert to Stream using `Readable`

`error: 'Invalid request format.'`

[code]

How to upload buffer file?

Thank you.

[2022-10-20 14:43] alexbakers commented on #128
Bingo, need `filename`

[code]

[2022-10-20 14:43] #128 closed

[2022-10-31 14:31] hiren-chestr commented on #112
@rommel-pinata found an issue in SDK, upload successfully works, if we append fileName at a time of appending stream to file object. snippet below.

[code]

[2022-10-31 18:15] rommel-pinata commented on #112
Hey @hiren-chestr I'm checking on this

[2022-11-02 14:36] rommel-pinata commented on #112
Hey @hiren-chestr I added a fix and refactor function pinFileToIPFS

[2022-11-02 16:43] cxqi opened #133 "upload folder fialed"
my program

[code]
I get this error when compiling

TypeError: pinataSDK is not a function
    at Object.<anonymous> (/Users/steven/Documents/Node/src/pin-to-ipfs/scripts/upload.js:4:16)
    at Module._compile (internal/modules/cjs/loader.js:1137:30)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1157:10)
    at Module.load (internal/modules/cjs/loader.js:985:32)
    at Funct

[2022-11-02 17:05] Jase-Legi commented on #133
Same

[2022-11-02 18:03] rommel-pinata commented on #133
hey @cxqi @Jase-Legi Checking on it, Could you place which version of the SDK you are using?

[2022-11-02 18:09] Jase-Legi commented on #133
-The latest version. 2.0, however I literally just updated it because I figured it would solve the issue, I had the previous version before but had the same issue

[2022-11-02 18:29] polluterofminds commented on #133
While @rommel-pinata looks into this, can you please try downgrading to this version? https://www.npmjs.com/package/@pinata/sdk/v/1.2.1

`npm i @pinata/sdk@1.2.1`

[2022-11-02 18:41] Jase-Legi commented on #133
yeah, I had  already downgraded, thanks.

[2022-11-02 21:17] rommel-pinata commented on #133
We released a new version v2.0.0

I created this small example with js and is working well. Let me know if you still experience any issues!
[code]

[2022-11-03 02:12] cxqi commented on #133
* node version v12.18.3
* npm version v6.14.6
* pinata sdk @pinata/sdk@2.0.0-beta.0

[2022-11-03 02:15] cxqi commented on #133
hey@rommel-pinata the version of node I use and the sdk of pinata
* node version v12.18.3
* npm version v6.14.6
* pinata sdk @pinata/sdk@2.0.0-beta.0

[2022-11-03 02:19] #133 closed

[2022-11-03 02:24] cxqi commented on #133
Thanks a lot, the problem is solved

[2022-11-03 06:36] hironate commented on #112
Thanks @rommel-pinata for quick fix.

[2022-11-03 15:15] #112 closed

[2022-11-03 15:43] #76 closed

[2022-11-03 15:51] rommel-pinata commented on #19
Hey @thecodrr I removed this dependency in the latest release and instead used `fs` functions

[2022-11-03 15:51] #19 closed

[2022-11-03 16:28] #91 closed

[2022-11-03 18:31] rommel-pinata commented on #68
This issue was fixed in PR #130

[2022-11-03 18:31] #68 closed

[2022-11-04 09:35] tkjwa commented on #97
Hello, I've hit the same issue in a different context, I was indeed loading the SDK twice, so the bug kinda helped me stop a design issue on my side ^^
In addition to the solution linked by @GonzaloHirschToptal , maybe you could keep a warning
Thank you

[2022-11-04 18:12] rommel-pinata commented on #97
I added a PR that could fix this issue!

[2022-11-04 18:12] rommel-pinata commented on #75
I added a fix to this issue at #135

[2022-11-04 18:28] rommel-pinata commented on #84
Hello @lasanja1
I run your first sample it's missing the fileName

[code]

on your second sample. As stated by @gfaraj you should use `file` instead of `test`

[2022-11-04 22:15] rommel-pinata commented on #28
Yeah it seems most of the issue faced in this thread as related to the name of the file, this is now mandatory in the new release.

[2022-11-08 20:34] rommel-pinata commented on #85
Hello @antokhio this issue was fixed on https://github.com/PinataCloud/Pinata-SDK/pull/136. There should be a release soon !

[2022-11-08 20:52] rommel-pinata commented on #87
hello @santiq as mentioned by Matt this is not possible https://github.com/PinataCloud/Pinata-SDK/issues/52#issuecomment-867036544

[2022-11-08 20:52] #87 closed

[2022-11-08 21:28] rommel-pinata commented on #86
Hello, @dohomi and @tinmarr I tried uploading simple JSON, images, and videos. However, I don't see any issue. I do change the way the files are uploaded so it doesn't have a memory leak.

[2022-11-10 21:17] rommel-pinata commented on #97
This PR mas release should no longer an issue.

[2022-11-10 21:17] #97 closed

[2022-11-11 18:27] rommel-pinata commented on #78
I haven't been able to replicate this error. Please could you provide more information?. What type of device performed the task?, platform?, Nodejs version? etc.

[2022-11-11 18:32] rommel-pinata commented on #80
This is now supported, and shouldn't be longer an issue. also added support windows and POSIX file structure.

[2022-11-11 18:35] rommel-pinata commented on #115
@bsormagec This is now supported. let me know if you are able to upload a folder.

[2022-11-14 11:38] TrejGun commented on #84
as for the first example - it can be fixed like this

[code]

[2022-11-14 11:41] TrejGun commented on #84
here is an example of how different IPFS SDK works
https://github.com/GemunIon/nestjs-ipfs

[2022-11-15 04:33] ian commented on #75
Has this been released yet? Still occurring with `2.1.0`

[2022-11-17 16:32] rommel-pinata commented on #75
Ok I'm going to reopen and try it out.

[2022-11-18 17:35] Pushpit07 commented on #84
This helped me- https://github.com/PinataCloud/Pinata-SDK/issues/128

[2022-11-22 08:32] yakovsamsonov opened #140 "[ERROR] Error: filename was not provide, make sure to provide options.pinataMetadata.name"
version: "2.1.0"

I'm calling pinFileToIPFS in src/pinning/pinFileToIPFS.ts without options variable provided.
This is valid function call based on function signature and README.md.

I've got an Error: filename was not provide, make sure to provide options.pinataMetadata.name.

Looks like the issue with 89-99 lines after refactoring.

[2022-11-22 17:27] rommel-pinata commented on #140
Hello, @yakovsamsonov I see the error in the optional parameter. So it seems it's rather an issue on the documentation or has a different interface.

[2022-11-26 02:14] HongDongZhao opened #141 "Is there a way to query the hashMetadata itself?"
After I pined some metadata to an CID, I also going to check the metadata.

I cannot find it in the current documentation. Thanks.